Ilhan Omar's Response To Notre Dame Cathedral Burning Down Draws Criticism

<p>Today is the day: Attorney General William Barr is set to release the report compiled by Robert Mueller after the special counsel completed his nearly two-year probe into whether President Trump or members of his campaign colluded with Russia to alter the outcome of the 2016 election.</p>
<p>In a morning press conference Thursday, Barr announced the report would be posted on the special counsel's website (very 21st century) and also delivered to members of Congress — on CD-ROM (very 1990s).</p>
<p>"After the news conference, the report will be delivered to Congress on CDs between 11 a.m. and noon and then be posted on the special counsel’s website," the Associated Press reported.</p>
<p>That sent some in Congress in search of equipment that can read an old CD (forget the Apple MacBooks all over the Hill), and ignited the internet to explode in fits of hilarity.</p>